# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
server/venv/
venv/
.env
.env.*

# =========================
# Flask
# =========================
instance/
.webassets-cache/

# =========================
# Database
# =========================
*.sqlite
*.sqlite3

# =========================
# Node
# =========================
client/node_modules/
client/dist/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / temporary files
# =========================
*.tmp
*.temp
